body{
    font-family: tahoma;
    margin:0;
    line-height: 1.5;
    
}

*{
    box-sizing:border-box;
    margin:0;
}

.transfer_done_popup{
    position:fixed;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    z-index: 1099;
    background-color: #000000;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease;
}

.transfer_done_popup.show{
    visibility:visible;
    opacity: 1;
}


.transfer_done_popup .box{
    background-color: #fffff1;
    width:750px;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    
}

.transfer_done_popup.show .box{
    opacity: 1;
    margin-left: 0;
}


header{
    
    background: url(bg.svg);
    background-size: cover;
    height: 40vh;
    position: relative;
    overflow: hidden;
    
    
}

header:after{
    content:"";
    position: absolute;
    bottom:0;
    width: 100%;
    background-image: url(wave-bottom.svg);
    height: 275px;


}

.header-content{
    z-index:1;
    position: relative;
    text-align: center;

}

.theme-btn{
    border-radius: 50px;
    background: #033974;
    padding: 15px 30px;
    min-width: 170px;
    border: 2px solid #033974;
    color: #fffff1;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 13px;
    display: inline-block;
    text-align: center;
    margin-right: 12px;
    transition: all 0.5s ease-in;
    font-weight: bold;
    cursor: pointer;
    text-decoration:none;


}

.theme-btn:hover{
    text-decoration: none;
    background-color: #fffff1;
    color: #033974;
}

.header-content h1{
    font-size: 45px;
    font-weight: bold;
    text-transform: capitalize;
    color: #fffff1;
}
.main-div{
    width: 100vw;
    margin: 0px  auto;
    position: relative;
    top: -50px;
    
    padding: 30px;
    
}

.main-div h2{
    position: relative;
    left: 60px;
}

.image{
    animation: zoomInOut 7s linear infinite;
}

@keyframes zoomInOut{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}